.header{
  display: grid;
  justify-content: center;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  padding: 92px 24px 83px;

}
.header__menu{
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: flex-start;
  align-self: center;
}
.header__links-list{
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item{
  text-decoration: underline;
}

.header__link{
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

.header__links-list-item_no-bullit{
  text-decoration: none;
  list-style: none;
}

.header__logo{
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  width: 148px;
}

.header__logo-image{
  width: 100%;
}

.address{
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: flex-end;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  text-underline-position: under;
}

.header__address{
  width: 240px;
}

.cover{
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  background-color: lightgray;
  height: 757px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.overlay{
  height: 757px;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  inset: 0;
}

.cover__title{
  padding: 174px 24px 94px;
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase; 
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;

}

.aligned-text{
  letter-spacing: 4px;
}

.aligned-text_center{
  text-align: center;
}

.aligned-text_right{
  text-align: right;
}

.letter-spacing-extended{
  letter-spacing: 30px;
}

.no-letter-spacing{
  letter-spacing: 0px;
}

.cover__description{
  padding:0px 24px;
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.cover__description-text{
  word-spacing: 17px;

}

.bet-button{
  width: 257px;
  height: 52px;
  background-color: transparent;
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border: 1px solid #FFF;
  
}
.lots{
  margin: 180px 24px;
}

.lots__heading{
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 26px;
}

.lots__card-list{
  margin-top: 26px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  flex-grow: 1;
  list-style: none;
}

.card-link{
  display: block;
  text-decoration: none;
}
.card{
  width: 334px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title{
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
  padding: 50px 40px 0px;
}

.card__text{
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  padding: 0px 40px 50px;
}

.card_type_film{
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}

.card_type_book{
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_picture{
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.lots__look-more-link{
  margin: 33px 27px;
  display: block;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about{
  display: grid;
  grid-template-columns: 37% 63%;
  grid-template-rows: 2fr;
  padding-left: 119px;
}

.about__logo{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color:#000;
  width: 240px;
  height: 240px;
}

.about__logo-image{
  width: 148px;
  height: 114px;
}

.about__title{
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: start;
  align-self: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text{
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer{
  margin: 174px 27px;
  display: flex;
  justify-content: space-between;
}

.footer__menu-list{
  list-style: none;
}

.footer__menu-list-item{
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-link_active{
  text-decoration: none;
}

.footer__social-list{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 44px;
}

.footer__social-icon{
  height: 48px;
}